openapi: 3.2.0
info:
  title: Microsoft Word Tables API
  x-refined-note:
  - x-api-type differs across the merged source definitions and was not carried
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
  version: '1.0'
  description: 'Operations tagged Tables across 2 of this provider''s published API definitions: microsoft-word-javascript-api.yaml, microsoft-word-open-xml-sdk.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://word.officeapps.live.com/api/v1
  description: Word JavaScript API conceptual endpoint
- url: https://localhost:5000/api/v1
  description: Local Open XML processing service
tags:
- name: Tables
  description: Operations for creating and managing tables
paths:
  /documents/{document-id}/tables:
    get:
      operationId: listTables
      summary: Microsoft Word List Tables
      description: Get the collection of table objects in the document body.
      tags:
      - Tables
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Successfully retrieved tables.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableCollection'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    post:
      operationId: insertTable
      summary: Microsoft Word Insert Table
      description: Insert a table with the specified number of rows and columns.
      tags:
      - Tables
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertTableRequest'
      responses:
        '201':
          description: Successfully created the table.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    TableCollection:
      type: object
      description: Collection of tables.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Table'
    ErrorResponse:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: InvalidArgument
            message:
              type: string
              description: Human-readable error message.
              example: The argument is invalid or missing.
    Table:
      type: object
      description: Represents a table in a Word document.
      properties:
        id:
          type: string
          description: Unique identifier of the table.
          example: tbl-500123
        rowCount:
          type: integer
          description: Number of rows in the table.
          example: 5
        columnCount:
          type: integer
          description: Number of columns in the table.
          example: 3
        style:
          type: string
          description: Style name applied to the table.
          example: Grid Table 1 Light
        alignment:
          type: string
          description: Table alignment (Left, Centered, Right).
          example: Centered
        headerRowCount:
          type: integer
          description: Number of header rows.
          example: 1
    InsertTableRequest:
      type: object
      description: Request to insert a table.
      required:
      - rowCount
      - columnCount
      properties:
        rowCount:
          type: integer
          description: Number of rows for the new table.
          example: 3
        columnCount:
          type: integer
          description: Number of columns for the new table.
          example: 4
        insertLocation:
          type: string
          description: Where to insert the table (Start, End, Before, After).
          example: End
        values:
          type: array
          description: 2D array of cell values.
          items:
            type: array
            items:
              type: string
          example:
          - - Name
            - Age
            - City
            - Country
    OpenXmlTable:
      type: object
      description: Represents a table in the Open XML document.
      properties:
        index:
          type: integer
          description: Position index of the table.
          example: 0
        rowCount:
          type: integer
          description: Number of rows in the table.
          example: 5
        columnCount:
          type: integer
          description: Number of columns in the table.
          example: 3
        rows:
          type: array
          description: Array of table rows with cell data.
          items:
            type: object
            properties:
              cells:
                type: array
                items:
                  type: object
                  properties:
                    text:
                      type: string
                      description: Cell text content.
                      example: Cell value
    ErrorResponse_2:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: DocumentNotFound
            message:
              type: string
              description: Human-readable error message.
              example: The specified document could not be found.
    AddTableRequest:
      type: object
      description: Request to add a table.
      required:
      - rows
      - columns
      properties:
        rows:
          type: integer
          description: Number of rows.
          example: 3
        columns:
          type: integer
          description: Number of columns.
          example: 4
        data:
          type: array
          description: 2D array of cell values.
          items:
            type: array
            items:
              type: string
        styleId:
          type: string
          description: Table style ID.
          example: TableGrid
    OpenXmlTableCollection:
      type: object
      description: Collection of tables.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/OpenXmlTable'
        count:
          type: integer
          description: Total number of tables.
          example: 3
  parameters:
    documentId:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the Word document.
      schema:
        type: string
      example: doc-a1b2c3d4
    documentId_2:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the document.
      schema:
        type: string
      example: doc-openxml-a1b2c3
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft Identity Platform for Office Add-ins.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.ReadWrite: Read and write files
x-refined-from:
- microsoft-word-javascript-api.yaml
- microsoft-word-open-xml-sdk.yaml
