openapi: 3.2.0
info:
  title: Microsoft Word Body API
  x-refined-note:
  - x-api-type differs across the merged source definitions and was not carried
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
  version: '1.0'
  description: 'Operations tagged Body across 2 of this provider''s published API definitions: microsoft-word-javascript-api.yaml, microsoft-word-open-xml-sdk.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://word.officeapps.live.com/api/v1
  description: Word JavaScript API conceptual endpoint
- url: https://localhost:5000/api/v1
  description: Local Open XML processing service
tags:
- name: Body
  description: Operations on the document body content
paths:
  /documents/{document-id}/body:
    get:
      operationId: getBody
      summary: Microsoft Word Get Body
      description: Get the body object of the document containing the main content.
      tags:
      - Body
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Successfully retrieved document body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Body'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
  /documents/{document-id}/body/insertText:
    post:
      operationId: insertText
      summary: Microsoft Word Insert Text
      description: Insert text at the specified location in the document body.
      tags:
      - Body
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertTextRequest'
      responses:
        '200':
          description: Successfully inserted text.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Range'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
  /documents/{document-id}/body/insertHtml:
    post:
      operationId: insertHtml
      summary: Microsoft Word Insert HTML
      description: Insert HTML content at the specified location in the document body.
      tags:
      - Body
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertHtmlRequest'
      responses:
        '200':
          description: Successfully inserted HTML.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Range'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
  /documents/{document-id}/body/search:
    post:
      operationId: searchDocument
      summary: Microsoft Word Search Document
      description: Search the document body for text matching the specified criteria.
      tags:
      - Body
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: Successfully completed search.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RangeCollection'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    RangeCollection:
      type: object
      description: Collection of ranges.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Range'
    ErrorResponse:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: InvalidArgument
            message:
              type: string
              description: Human-readable error message.
              example: The argument is invalid or missing.
    Body:
      type: object
      description: Represents the body of a document or section.
      properties:
        text:
          type: string
          description: Plain text content of the body.
          example: This is the document body text.
        type:
          type: string
          description: Type of the body (MainDoc, Section, Header, Footer, TableCell).
          example: MainDoc
        style:
          type: string
          description: Style name applied to the body.
          example: Normal
    Range:
      type: object
      description: Represents a contiguous area in a document.
      properties:
        text:
          type: string
          description: Text content of the range.
          example: inserted text content
        style:
          type: string
          description: Style applied to the range.
          example: Normal
        isEmpty:
          type: boolean
          description: Whether the range is empty.
          example: false
    InsertTextRequest:
      type: object
      description: Request to insert text into the document.
      required:
      - text
      - location
      properties:
        text:
          type: string
          description: The text to insert.
          example: Hello, World!
        location:
          type: string
          description: Location to insert text (Start, End, Before, After, Replace).
          example: End
    InsertHtmlRequest:
      type: object
      description: Request to insert HTML content into the document.
      required:
      - html
      - location
      properties:
        html:
          type: string
          description: The HTML content to insert.
          example: <h1>Title</h1><p>Body paragraph</p>
        location:
          type: string
          description: Location to insert HTML (Start, End, Before, After, Replace).
          example: End
    SearchRequest:
      type: object
      description: Request to search document content.
      required:
      - searchText
      properties:
        searchText:
          type: string
          description: Text to search for in the document.
          example: quarterly report
        ignorePunct:
          type: boolean
          description: Whether to ignore punctuation.
          example: true
        ignoreSpace:
          type: boolean
          description: Whether to ignore whitespace.
          example: true
        matchCase:
          type: boolean
          description: Whether to perform case-sensitive search.
          example: false
        matchWholeWord:
          type: boolean
          description: Whether to match whole words only.
          example: false
        matchWildcards:
          type: boolean
          description: Whether to use wildcard matching.
          example: false
    ErrorResponse_2:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: DocumentNotFound
            message:
              type: string
              description: Human-readable error message.
              example: The specified document could not be found.
    DocumentBody:
      type: object
      description: The main body content of a Word document.
      properties:
        elements:
          type: array
          description: Ordered list of body elements (paragraphs, tables).
          items:
            type: object
            properties:
              type:
                type: string
                description: Type of element (Paragraph, Table).
                example: Paragraph
              index:
                type: integer
                description: Position index in the body.
                example: 0
  parameters:
    documentId:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the Word document.
      schema:
        type: string
      example: doc-a1b2c3d4
    documentId_2:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the document.
      schema:
        type: string
      example: doc-openxml-a1b2c3
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft Identity Platform for Office Add-ins.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.ReadWrite: Read and write files
x-refined-from:
- microsoft-word-javascript-api.yaml
- microsoft-word-open-xml-sdk.yaml
