openapi: 3.2.0
info:
  title: Microsoft Word Properties API
  x-refined-note:
  - x-api-type differs across the merged source definitions and was not carried
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
  version: '1.0'
  description: 'Operations tagged Properties across 2 of this provider''s published API definitions: microsoft-word-javascript-api.yaml, microsoft-word-open-xml-sdk.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://word.officeapps.live.com/api/v1
  description: Word JavaScript API conceptual endpoint
- url: https://localhost:5000/api/v1
  description: Local Open XML processing service
tags:
- name: Properties
  description: Operations for managing document properties
paths:
  /documents/{document-id}/properties:
    get:
      operationId: getDocumentProperties
      summary: Microsoft Word Get Document Properties
      description: Get the document properties including title, subject, author, and custom properties.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Successfully retrieved document properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentProperties'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    patch:
      operationId: updateDocumentProperties
      summary: Microsoft Word Update Document Properties
      description: Update the document properties such as title, subject, and author.
      tags:
      - Properties
      parameters:
      - $ref: '#/components/parameters/documentId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentPropertiesUpdate'
      responses:
        '200':
          description: Successfully updated document properties.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentProperties'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      security:
      - oauth2: []
    servers:
    - url: https://word.officeapps.live.com/api/v1
      description: Word JavaScript API conceptual endpoint
components:
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: InvalidArgument
            message:
              type: string
              description: Human-readable error message.
              example: The argument is invalid or missing.
    DocumentPropertiesUpdate:
      type: object
      description: Properties to update on a document.
      properties:
        title:
          type: string
          example: Updated Report Title
        subject:
          type: string
          example: Updated Subject
        author:
          type: string
          example: Jane Smith
        keywords:
          type: string
          example: updated, keywords
    DocumentProperties:
      type: object
      description: Document properties and metadata.
      properties:
        title:
          type: string
          description: Title of the document.
          example: Quarterly Report Q4 2025
        subject:
          type: string
          description: Subject of the document.
          example: Financial Reports
        author:
          type: string
          description: Author of the document.
          example: Jane Smith
        manager:
          type: string
          description: Manager listed in the properties.
          example: John Doe
        company:
          type: string
          description: Company listed in the properties.
          example: Contoso Ltd.
        category:
          type: string
          description: Category of the document.
          example: Reports
        keywords:
          type: string
          description: Keywords associated with the document.
          example: financial, quarterly, 2025
        comments:
          type: string
          description: Comments metadata field.
          example: Draft version
        creationDate:
          type: string
          format: date-time
          description: When the document was created.
          example: '2025-01-15T10:00:00Z'
        lastSaveTime:
          type: string
          format: date-time
          description: When the document was last saved.
          example: '2025-03-15T14:30:00Z'
        revisionNumber:
          type: string
          description: Revision number of the document.
          example: '12'
    ErrorResponse_2:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: DocumentNotFound
            message:
              type: string
              description: Human-readable error message.
              example: The specified document could not be found.
    OpenXmlDocumentPropertiesUpdate:
      type: object
      description: Properties to update.
      properties:
        title:
          type: string
          example: Updated Report Title
        subject:
          type: string
          example: Updated Subject
        creator:
          type: string
          example: Jane Smith
        keywords:
          type: string
          example: updated, keywords
        category:
          type: string
          example: Updated Category
    OpenXmlDocumentProperties:
      type: object
      description: Core and extended document properties.
      properties:
        title:
          type: string
          description: Document title.
          example: Quarterly Report Q4 2025
        subject:
          type: string
          description: Document subject.
          example: Financial Reports
        creator:
          type: string
          description: Document creator/author.
          example: Jane Smith
        description:
          type: string
          description: Document description.
          example: Q4 2025 financial summary
        keywords:
          type: string
          description: Document keywords.
          example: financial, quarterly, 2025
        category:
          type: string
          description: Document category.
          example: Reports
        created:
          type: string
          format: date-time
          description: Creation timestamp.
          example: '2025-01-15T10:00:00Z'
        modified:
          type: string
          format: date-time
          description: Last modified timestamp.
          example: '2025-03-15T14:30:00Z'
        revision:
          type: string
          description: Revision number.
          example: '12'
        application:
          type: string
          description: Application that created the document.
          example: Microsoft Office Word
        totalTime:
          type: integer
          description: Total editing time in minutes.
          example: 120
        pages:
          type: integer
          description: Number of pages.
          example: 15
        words:
          type: integer
          description: Number of words.
          example: 5432
        characters:
          type: integer
          description: Number of characters.
          example: 28765
  parameters:
    documentId:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the Word document.
      schema:
        type: string
      example: doc-a1b2c3d4
    documentId_2:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the document.
      schema:
        type: string
      example: doc-openxml-a1b2c3
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft Identity Platform for Office Add-ins.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.ReadWrite: Read and write files
x-refined-from:
- microsoft-word-javascript-api.yaml
- microsoft-word-open-xml-sdk.yaml
