openapi: 3.2.0
info:
  title: Microsoft Word JavaScript Sections API
  description: RESTful representation of the Office JavaScript API for Word add-ins. This API provides strongly-typed objects for document manipulation, content controls, tables, formatting, comments, collaboration, and shapes within Word documents through the Office Add-ins platform.
  version: 1.0.0
  contact:
    name: Microsoft Office Add-ins Support
    url: https://learn.microsoft.com/en-us/office/dev/add-ins/
  license:
    name: Microsoft API License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
  x-generated-from: documentation
  x-last-validated: '2026-04-18'
  x-api-type: JavaScript
servers:
- url: https://word.officeapps.live.com/api/v1
  description: Word JavaScript API conceptual endpoint
security:
- oauth2: []
tags:
- name: Sections
  description: Operations for managing document sections
paths:
  /documents/{document-id}/sections:
    get:
      operationId: listSections
      summary: Microsoft Word List Sections
      description: Get the collection of section objects in the document.
      tags:
      - Sections
      parameters:
      - $ref: '#/components/parameters/documentId'
      responses:
        '200':
          description: Successfully retrieved sections.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SectionCollection'
        '404':
          $ref: '#/components/responses/NotFound'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  responses:
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      description: Error response from the API.
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Error code.
              example: InvalidArgument
            message:
              type: string
              description: Human-readable error message.
              example: The argument is invalid or missing.
    Section:
      type: object
      description: Represents a section in a Word document.
      properties:
        id:
          type: string
          description: Unique identifier of the section.
          example: section-01
    SectionCollection:
      type: object
      description: Collection of sections.
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/Section'
  parameters:
    documentId:
      name: document-id
      in: path
      required: true
      description: The unique identifier of the Word document.
      schema:
        type: string
      example: doc-a1b2c3d4
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via Microsoft Identity Platform for Office Add-ins.
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            Files.ReadWrite: Read and write files
